#title{
  font-family: arial;
  font-size: 30px;
  height:40px;
  width:100%;
  background: #228B22;
  opacity: 0.8;
  color:white;
  text-align: center;
  line-height: 1.3;
  letter-spacing: 10px;
  text-shadow:3px 2px black;
}


#mapid {
  height: 400px;
  width: 80%;
  float: right;
  /* float: ; */
  /* display: inline-block; */
}


#contextPanel{
  height:400px;
  width:20%;
  font-family: arial;
  font-size:15px;
  background: #e5f5e0;
  /* text-decoration-color:#228B22; */
  float: left;
  /* background:gray; */
  /* opacity: 0.5 */
}

#credits{
  height:100px;
  width: 100%;
  float: bottomleft;
  font-size:9px;
  /**/not sure if it's actually changing the color here
  text-decoration: #bdbdbd;
}

/* sequence */
/* reference: https://www.w3schools.com/howto/howto_js_rangeslider.asp */
.sequence-control-container{
  width: 250px;
  height:30px;
  background-color: rgba(255,255,255,0.8);
  padding 10px;
  line-height: 32px;
  text-align: center;
  border: solid gray 1px;
}

.range-slider {
  /* width: 150px; */
  -webkit-appearance:none;
  appearance:none;
  width:150px;
  height:10px;
  border-radius: 20px;
  background: #d3d3d3;
  outline:none;
  opacity:0.8;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.range-slider::-webkit-slider-thumb{
  -webkit-appearance:none;
  appearance:none;
  width:20px;
  height: 20px;
  border-radius:50%;
  background:#228B22;
  cursor: pointer;
}

 .range-slider::-moz-range-thumb {
  width:15px;
  height:15px;
  border-radius:50%;
  background: #228B22;
  cursor: pointer;
}

.step {
  width:45px;
  height:30px
}

.step img{
  width:100%;
  height: auto;
}

#forward {
  float: right;
}

#reverse {
  float:left;
}



/* Legend */
/* play wtih this */
.legend-control-container{
  width: 190px;
  height:100px;
  background-color: rgba(255,255,255,0.8);
  padding 10px;
  line-height: 45px;
  text-align: center;
  border: solid gray 1px;
  font-size: 11px;
}

/* .title-container{
  width: 250px;
  height:120px;
  background-color: rgba(255,255,255,0.8);
  padding 10px;
  line-height: 45px;
  text-align: center;
  border: solid gray 1px
} */
