/* Ashley Kuehl, GEOG 575
Leaflet Lab: Percent of Forested Land by nation
March 11, 2020 */

/* styling id classes within the html code */

#title{
  font-family:arial;
  font-size: 50px;
  height:55px;
  width:980px;
  background: #005a32;
  opacity: 0.8;
  color:white;
  text-align: center;
  line-height: 1;
  letter-spacing: 15px;
  text-shadow:3px 2px black;
  padding: 10px 10px 10px 10px;
  display: inline-block;
}

#contextPanel{
  height:145px;
  width:980px;
  font-family: arial;
  font-size:13px;
  background: #e5f5e0;
  display: inline-block;
  padding: 0px 10px 10px 10px;
}

#mapid {
  height: 450px;
  width: 1000px;
  display: inline-block;
}

#credits{
  height:100px;
  width: 100%;
  float: bottom-left;
  font-size:11px;
}


/* styling containers objects */

/* adjusting the size of the popup country containers */
.leaflet-popup-content p{
  margin: 0.2em 0;
}

 /* styling the sequence bar  */
/* referenced https://www.w3schools.com/ to learn the code for styling*/
.sequence-control-container{
  width: 190px;
  height:30px;
  background-color: rgba(255,255,255,0.8);
  padding 10px;
  line-height: 10px;
  text-align: center;
  border: solid gray 1px;
}

.range-slider {
  -webkit-appearance:none;
  appearance:none;
  width:100px;
  height:25px;
  border-radius: 5px;
  background: #d3d3d3;
  outline:none;
  opacity:0.8;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.range-slider::-webkit-slider-thumb{
  -webkit-appearance:none;
  appearance:none;
  width:20px;
  height: 20px;
  border-radius:50%;
  background:#228B22;
  cursor: pointer;
}

 .range-slider::-moz-range-thumb {
  width:15px;
  height:15px;
  border-radius:50%;
  background: #228B22;
  cursor: pointer;
}

.step {
  width:40px;
  height:30px
}

.step img{
  width:100%;
  height: auto;
}

/* positioning icons */
#forward {
  float: right;
}

#reverse {
  float:left;
}

.legend-control-container{
  width: 190px;
  height:100px;
  background-color: rgba(255,255,255,0.8);
  padding 10px;
  line-height: 45px;
  color:#006d2c;
  font-family: arial;
  font-size: 11px;
  text-align: center;
  border: solid gray 1px;
}
