#mapid {
  height: 400px;
  width: 100%;
  display: inline-block;
}

/* sequence */
.sequence-control-container{
  width: 250px;
  height:30px;
  background-color: rgba(255,255,255,0.8);
  padding 10px;
  line-height: 45px;
  text-align: center;
  border: solid gray 1px;
}

.range-slider {
  width: 150px;
}

.step {
  width:36px;
}

.step img{
  width:100%;
  height: auto;
}

#forward {
  float: right;
}

#reverse {
  float:left;
}



/* Legend */
/* play wtih this */
.legend-control-container{
  width: 250px;
  height:120px;
  background-color: rgba(255,255,255,0.8);
  padding 10px;
  line-height: 45px;
  text-align: center;
  border: solid gray 1px;
}

/* #legendYear{
  text-align: center;
  margin-bottom: 15px;
  front-variant: small-caps;
} */
